
@{
    ViewData["Title"] = "HomePage";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="~/main.css" rel="stylesheet" />
        <title>Home Page</title>
    </head>
    <body>
        <div class="homePage">
            <h1>Welcome in the Bank!</h1>
            <a href="https://localhost:44315/show">Simba Account</a>
            <a href="https://localhost:44315/raw">HTML Raw</a>
            <a href="https://localhost:44315/accounts">Accounts</a>
            <a href="https://localhost:44315/form">Create Account</a>
        </div>
    </body>
</html>

