@using UsefulUtilities.Models

@model List<string>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Email</title>
    </head>
    <body>
        <p style="color: @Model[1]">@Model[0]</p>
    </body>
</html>

