body {
    

}

main {
    max-width: 850px;
    margin: 20px auto;
}

h1 {
    color: dodgerblue;
    margin-bottom: 0;
    font-size: 40px;
}

hr {
    margin-top: 0;
    color: dodgerblue;
    margin-bottom: 20px;
    border: 1px solid dodgerblue;
}

nav {
    display: flex;
    justify-content: space-between;
}

input {
    width: 250px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    margin: 10px 5px;
    background-color: red;
    border-radius: 4px;
}

.searchbar {
    display: flex;
    flex-direction: column;
}

.button .searchbar label {
    color: blue;
    font-size: 25px;
}

.button {
    display: flex;
    justify-content: space-between;
}

.button button {
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    margin-right: 50px;
    outline: none;
}

.button button:focus {
    background-color: green;
}

.button input {
    padding: 10px 5px;
    width: 600px;
    border-color: red;
    border-radius: 4px;
    outline: none;
}

table {
    width: 100%;
    margin-top: 20px;
}

table thead {
    background-color: aqua;
    border-color: white;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}

thead td {
    padding: 30px;
    font-size: 20px;
}

tbody td {
    padding: 30px;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
}