
@{
    ViewData["Title"] = "Average";
}

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/main.css" rel="stylesheet" />
        <title>@ViewBag.Title</title>
    </head>
    <body>
        <main>
            <h1>My Shop</h1><hr>
            <nav>
                <a href="https://localhost:44370/onlyavailable">ONLY AVAILABLE</a>
                <a href="https://localhost:44370/cheapestfirst">CHEAPEST FIRST</a>
                <a href="https://localhost:44370/containsnike">CONTAINS NIKE</a>
                <a href="https://localhost:44370/averagestock">AVERAGE STOCK</a>
                <a href="https://localhost:44370/mostexpensive">MOST EXPENSIVE AVAILABLE</a>
            </nav>
            <div class="button">
                <div class="searchbar">
                    <label for="search">Search for:</label>
                    <input type="search" id="search" name="search" placeholder="...something like nike" />
                </div>
                <button>Search</button>
            </div>
            <div>
                <h2>The average stock: @ViewBag.Items</h2>
            </div>
        </main>
    </body>
</html>

