@{
    ViewData["Title"] = "index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="~/style.css" rel="stylesheet">
        <title>My Shop</title>
    </head>
    <body>
        <main>
            <h1>My Shop</h1><hr>
                <nav>
                    <a href="#">ONLY AVAILABLE</a>
                    <a href="#">CHEAPEST FIRST</a>
                    <a href="#">CONTAINS NIKE</a>
                    <a href="#">AVERAGE STOCK</a>
                    <a href="#">MOST EXPENSIVE AVAILABLE</a>
                </nav>
            <div class="button">
                <div class="searchbar">
                    <label for="search">Search for:</label>
                    <input type="search" id="search" name="search" placeholder="...something like nike" />
                </div>
                <button>Search</button>                
            </div>                     
        </main>
    </body>
</html>












