@{
    ViewData["Title"] = "index";
}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="~/main.css" rel="stylesheet">
        <title>My Shop</title>
    </head>
    <body>
        <main>
            <h1>My Shop</h1><hr>
                <nav>
                    <a href="https://localhost:44370/onlyavailable">ONLY AVAILABLE</a>
                    <a href="https://localhost:44370/cheapestfirst">CHEAPEST FIRST</a>
                    <a href="https://localhost:44370/containsnike">CONTAINS NIKE</a>
                    <a href="https://localhost:44370/averagestock">AVERAGE STOCK</a>
                    <a href="https://localhost:44370/mostexpensive">MOST EXPENSIVE AVAILABLE</a>
                </nav>
            <div class="button">
                <div class="searchbar">
                    <label for="search">Search for:</label>
                    <input type="search" id="search" name="search" placeholder="...something like nike" />
                </div>
                <button>Search</button>                
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Price</td>
                        <td>Quantity of stock</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Items)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Description</td>
                            <td>@item.Price.0 Kč</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </tbody>
                
            </table>
        </main>
    </body>
</html>












